/****Exercize Begins****/
body {
  font-size: 14px;
}

div {
    background-color: #d5f4e6;
}

div.element {
    background-color: #9932cc;
}

div.yellow {
    background-color: #fff000;
}

.yellow {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align: center
}

h3 {
  font-size: 1.3em;
}

.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}


nav {
  background color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 60%;
}

/****Exercize Ends****/
# css
# CSSPractice
# CSSPractice
